<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069480650643-o9cfbc3oq50nmgjtosn01rafpjutmvj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069480650643-o9cfbc3oq50nmgjtosn01rafpjutmvj9</string>
	<key>API_KEY</key>
	<string>AIzaSyAd06oLQZaK3OkB4V345LR-wIFm44-nNKk</string>
	<key>GCM_SENDER_ID</key>
	<string>1069480650643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medica</string>
	<key>PROJECT_ID</key>
	<string>medica-9ee3f</string>
	<key>STORAGE_BUCKET</key>
	<string>medica-9ee3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069480650643:ios:a0d9891d5d5647e92aea66</string>
</dict>
</plist>